*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.skip-link {
    display: none;
} 

a {
     color: inherit; 
}
a:link {
    text-decoration: none;
} 

header {
    display: grid;
    min-height: 100vh;
    text-align: center;
    place-items: center;
    padding: 10vh 2rem;
    background: linear-gradient(45deg, #4e89ae,#43658b,#ed6663,#ffa372);
    background-size: 200% 200%;
    animation: colors 13s ease infinite;
}

div {
    display: block;
}

header h1 {
    display: inline-grid;
    font-size: max(4vw,70px);
    border: 3px solid #fff;
    padding: 1vw;
}

header h2 {
    margin-top: 15px;
    font-size: min(26px, 3.5vw);
}

header p {
    margin-top: 5px;
    font-size: min(24px, 3vw);
}

a.link-github {
    font-size: max(1.1vw, 19px);
    text-align: center;
}

svg {
    margin-top: 1%;
    height: max(1.1vw, 15px);
    fill: #fff;
}

.container, nav {
    /* text */
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 5%;
    }
}

main, nav {
    background-color: #4e89ae;
}

nav {
    padding: 3.5rem;
    display: block;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: nome;
}

nav ul li {
    list-style-type: none;
    margin: 1rem;
}

nav ul a {
    display: inline-grid;
    padding: 0.5rem;
    font-size: 1.6rem;
    text-decoration: none;
}